body {background-color:tan;
text-align: center;
font-family: arial;
color: black;}
h1{color:gray;}
.maindiv{
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 20px;
    width: 300px;
}
#result{
    background-color: yellow;
}


